main{
    display: grid;
    grid-template-columns: 40% 60%;
}

.image_section{

}
.short_description_section{

}
#info-for-script{
    display: none;
}
#buy-wrapper{
    display: flex;
    flex-direction: column;

    width: fit-content;
    min-height: 5rem;
    max-height: fit-content;
    overflow: hidden;
    position: relative;
    background-color: #3D99F3;
    border-radius: 50px;
}
button:focus {
    background-color: #002595;
}
#price{
    position: relative;
    font-size: 3rem;
    text-align: center;
    background-color: blueviolet;
}
#buy{
    position: relative;
    font-size: 3rem;
    color: white;
    padding: 1rem;
    z-index: 2;
    transition-duration: 0.3s;
}
#buy:hover{
    cursor: pointer;
    color: var(--col-h2);
}
#buy::after{
    content: "";
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    border-radius: 50%;
    left: -10%;
    right: -10%;
    top: -140%;
    bottom: -140%;
    transform: scale(0, 0);
    background: rgba(73, 201, 243, 0.27);
    transition-duration: 0.3s;
}
#buy:hover::after {
    z-index: 1;
    animation-name: knop1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    transform: scale(1, 1);
}