@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400&display=swap');
:root{
    --col-h2: #004C95;
    --col-h3: #3D99F3;
    --col-form: rgba(129, 205, 218, 0.17);
}
h1{
    position: relative;
    float: left;
    margin: auto auto auto auto;
}    
h2{
    color: #004C95;
    font-size: 40px;
    text-align: center;
}
h3{
    color: #3D99F3;
    margin: 0 0 0 0;
    font-size: 20px;
}

a{
    text-decoration: none;

}

*, *:before, *:after{
  font-family: 'Nunito', sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    position: relative;
    min-height: 100px;
    padding: 20px 10% 0 20px;
    margin-bottom: 30px;
}

#menu__toggle {
    opacity: 0;
}
main{
    margin: 0;
    position: relative;
    min-height: 60vh;
    padding-left: 10px;
    background: linear-gradient(#0077e61a, rgba(255, 192, 203, 0));
}
aside{
    margin: 0;
    background-color: #0077e61a;
    background-color: rgba(173, 12, 12, 0.1);
}
footer {
    //z-index: 2;
    //position: relative;
    min-height: 10vh;
    background: #004C95;
    border-radius: 0 0 10px 10px;
    text-align: center;
    color: white;
}
/*Главное меню*/
nav {
    position: relative;
    float: right;
    margin: auto auto auto auto;
    height:60px;
    background-color: #2B6DAC;
    border-radius: 3rem;
    min-width: 60vw;
    max-width: 80vw;
}
nav ul {
    margin:0;
    padding:0;
    width: 100%;
    list-style-type: none;
    display:flex;
    border-radius: 3rem;
}
nav ul li {
    line-height:60px;
    width: 100%;
    border-color: #0075E6;
    text-align:center;
    display:inline;
    min-width: 25%;
    background-color: #0075E6;
    transition-property: background-color;
    transition-duration: 0.15s;
  
} 
nav ul li:hover{
    background-color: #2B6DAC;
}
nav ul li a {
    width: 100%;
    position:relative;
    text-align: center;
    box-sizing: content-box;
    display: block;
    font-weight: bold;
    margin: 0;
    color:white;
}

.left{
    border-radius: 1rem 0 0 1rem;
}
.right{
    border-radius: 0 1rem 1rem 0;
}

/*футер*/
footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer a{
    color: white;
}
footer a:hover{
    color: var(--col-h3);
}
footer div{
    margin: 1rem;
}

/*соцсети*/
footer #socials ul{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 3rem;

}
.about{
    max-width: 25vw;
    position: relative;
}
.links{
    position: relative;
    max-width: 25vw;
}
.links::before, .about::before, #socials::before{
    position: absolute;
    content: '';
    transform: translateX(-0.4rem) scaleY(0);
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    background-color: white;
    width: 0.15rem;
    height: 1.5rem;
}
.links:hover::before, .about:hover::before, #socials:hover::before{
    transform: translateX(-0.4rem) scaleY(1);
}
footer #socials ul li{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    list-style-type: none;
    height: 6rem;
    width: 6rem;
    box-sizing: border-box;
    border-radius: 3rem;
    background-color: #626267;
    overflow: hidden;
    margin: 0.3rem;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.73);
}
footer #socials ul li a{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
footer #socials ul li img{
    position: relative;
    margin: auto;
    z-index: 1;
    width: 4rem;
    height: 4rem;
    transition-duration: 0.2s;
}
footer #socials ul li::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0077ff;
    top: 100%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 50%;
}
footer #socials ul li:hover img{
    filter: invert(100%);
}
footer #socials ul li:nth-child(2)::after{
    background: linear-gradient(#38b4f4, #299dd5);
}
footer #socials ul li:hover::after{
    transform: translateY(-100%);
}
/*общая структура*/
